<div class="container">
  <h3>Lista de personajes</h3>
  <h6>Pagina {{ pages }}/{{ numPages }}</h6>
  <button
    class="btn btn-warning"
    (click)="pageUp()"
    [disabled]="pages == numPages"
  >
    Siguiente
  </button>
  <button
    class="btn btn-warning mx-2"
    (click)="pageDown()"
    [disabled]="pages == 1"
  >
    Atras
  </button>

  <div class="row">
    <div class="col-6 col-md-3" *ngFor="let item of arrayPersonajes">
      <div
        class="personaje"
        [ngClass]="{
          vivo: item.status == 'Alive',
          muerto: item.status == 'Dead'
        }"
      >
        <p>{{ item.name }}</p>
        <img [src]="item.image" />
        <p>{{ item.species }}</p>
      </div>
    </div>
  </div>
</div>
